<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width', initial-scale=1.0'>
        <title>Territory Manager</title>
        <link rel='stylesheet' href='./style.css'>
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    </head>

    <body id='body'>      
        <h1>Welcome to the Territory Manager</h1>
        <button id='openFileButton' type="button">Open CSV</button>
        <button id='closeButton' type="button">Exit</button>
        <div id='data'></div>
        <script src='./default.js'></script>
    </body>
</html>